<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Pinteresting", root_path, class: "navbar-brand" %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %> </li>
        <li><%= link_to "About", about_path %> </li>
      </ul>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in?%>
      <li><%= link_to new_pin_path do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  New Pin 
      <% end %>    
      </li>
        <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      Profile<span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Account settings", edit_user_registration_path%></li>
        <li><a href="#">User</a></li>
        <li><a href="#">privacy</a></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li> 
    </ul>
  </li>
  <% else %>
  <li><%= link_to "Log in", new_user_session_path %></li>
     <%end%>
</ul>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<div class="container">